/*@media (max-width: 600px) {
	button {
		display: none;
	}
}


@media (min-width: 700px) and (max-width: 900px){
	body {
		background-color: cadetblue ;
		background-image: none !important;
		color: white;
	} 
	.student {
		background-color: darkred;
		color: black;
	}
	button {
		background-color: mintcream !important;
		color: darkred !important;
	}
	h1 {
		background-color: black !important;
		color: whitesmoke !important ;
		font-family: monospace;
	}
}*/

#daftar{
	background-color: mediumpurple;
	color: black;
	font-family: monospace;
	border-radius: 20px;
	width: 400px;
	height: 50px;
	margin: 0 auto;
}

.pendaftaran {
	text-align: center;
	margin: 40px;
}
#pendaftaran_sekolah{
	display:none
}

.jumbotron{
	background-image: url(image/2.jpg);
	background size: cover;
	height: 800px;
	margin-top: -200px;
}

.jumbotron .container {
	margin-top: 300px;
	border-radius: 43px;
	background: #817e81;
	box-shadow:  10px 10px 20px #6e6b6e,
             -10px -10px 20px #949194;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}